.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icons {
  margin: 20px;
  height: 5em;
}
h1 {
  font-style: italic;
  font-size: 3em;
  text-decoration: underline;
  text-underline-position: under;
}

.logo {
  height: 3em;
}
.coming-soon-container {
  /* min-height: calc(100vh - 200px); */
  flex: 1 0 auto;
  width: fit-content;
  margin: auto;
  padding: 50px;
  padding-top: 200px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
  text-align: right;
  font-size: 1.5em;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  flex-shrink: 0;
  padding-bottom: 100px;
}
.footer div {
  padding: 5px;
}

.email {
  display: flex;
  align-items: center;
  margin: 30px;
}

.email a {
  margin-left: 10px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}